/* POV sections */
.citrus_petmate_carousel {
  overflow-x: hidden;
  position: relative;
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-height: 235px;
}

.citrus_petmate_carousel .citrus_petmate_carousel-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  width: 100%;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
  background: #0785D0;
}

.citrus_petmate_carousel .citrus_petmate_carousel-inner .citrus_petmate_carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.citrus_petmate_carousel .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate_carousel-item__col:nth-child(1) {
  width: 20%;
}

.citrus_petmate_carousel .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate_carousel-item__col:nth-child(2) {
  width: 50%;
}

.citrus_petmate_carousel .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate_carousel-item__col:nth-child(3) {
  position: relative;
  width: 30%;
}

.citrus_petmate_carousel .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate_carousel-item__col:nth-child(3) .citrus_petmate__pov--shots img:nth-child(2) {
  position: absolute;
  top: 30px;
  left: -70px;
  max-width: 350px;
}

.citrus_petmate_carousel .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate__pov--text {
  width: 100%;
  text-align: left;
  padding: 0 10px 0 20px;
}

.citrus_petmate_carousel .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate__pov--text h1 {
  font-size: 35px;
  color: #000000;
  padding: 15px 0;
  line-height: 36px;
}

.citrus_petmate_carousel .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate__pov--text p {
  font-size: 16px;
  padding-bottom: 20px;
}

.citrus_petmate_carousel .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate__pov--logo {
  padding: 0 20px 0 40px;
  max-width: 70%;
  margin: 0 auto;
}

.citrus_petmate_carousel .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .custom-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.citrus_petmate__pov--cta {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  margin: 0 !important;
  padding: 0 0 0 20px;
}

.citrus_petmate__pov--cta a {
  margin: 0 !important;
}

.citrus_petmate_carousel-controls .prev {
  display: inline-block;
  height: 32px;
  width: 32px;
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("prev.svg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: .5;
}

.citrus_petmate_carousel-controls .next {
  display: inline-block;
  height: 32px;
  width: 32px;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("next.svg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: .5;
}

.prev:hover, .next:hover {
  opacity: 1;
}

.citrus_petmate_carousel-indicators {
  position: absolute;
  bottom: 0;
  left: calc(100% / 2 - 52px);
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 5px !important;
}

.citrus_petmate_carousel-indicators span {
  display: inline-block;
  border: 2px solid #09205c;
  padding: 7px;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 5px;
}

.citrus_petmate_carousel-indicators span.active {
  background-color: #09205c;
}
/*# sourceMappingURL=pov.css.map */