/* Laptop */
/* Laptop */
/* Laptop */
/* Laptop */
@media only screen and (min-width: 1024px) {
  .citrus_petmate .cta-box a {
    padding: 17px 0;
    min-width: 209px;
    max-width: 209px;
    height: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* Medium devices */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .citrus_petmate_carousel .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate__pov--text h1 {
    font-size: 24px;
    padding: 10px 0;
    line-height: 28px !important;
  }
  .citrus_petmate_carousel .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate__pov--text p {
    padding-bottom: 10px;
    font-size: 14px;
  }
  .citrus_petmate__pov--logo {
    max-width: 100px;
  }
}

/* Tab devices */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .citrus_petmate_carousel .citrus_petmate_carousel-inner {
    min-height: auto;
  }
  .citrus_petmate_carousel .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate_carousel-item__col:nth-child(2) {
    width: 40%;
  }
  .citrus_petmate_carousel .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate_carousel-item__col:nth-child(3) {
    width: 40%;
  }
  .citrus_petmate_carousel .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate_carousel-item__col:nth-child(3) .citrus_petmate__pov--shots img:nth-child(2) {
    position: absolute;
    top: 30px;
    max-width: 200px;
    left: -35px;
  }
  .citrus_petmate_carousel .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate__pov--text h1 {
    font-size: 19px;
    padding: 0 0 10px;
    line-height: 21px !important;
  }
  .citrus_petmate_carousel .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate__pov--text p {
    font-size: 13px;
    padding-bottom: 10px;
    line-height: 15px;
  }
  .citrus_petmate_carousel .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate__pov--cta a {
    height: 44px;
  }
  .citrus_petmate_carousel .citrus_petmate_carousel-inner .pov1 .citrus_petmate_carousel-item__col:nth-child(2) .citrus_petmate__pov--text p {
    max-width: 220px;
  }
  .citrus_petmate__pov--logo {
    max-width: 90px;
    padding-top: 10px;
  }
  .citrus_petmate_carousel-indicators {
    display: none;
  }
}

/* Mobile devices */
@media only screen and (max-width: 767px) {
  /* Show hide class */
  .m-hide {
    display: none;
  }
  .d-hide {
    display: block;
  }
  .citrus_petmate .cta-box a {
    background: none !important;
    color: #00205B;
    text-transform: capitalize;
    text-decoration: underline !important;
    border: none;
  }
  .citrus_petmate .cta-all-container a {
    background: none;
    color: #00205B;
    text-transform: capitalize;
    text-decoration: underline !important;
    border: none;
  }
  .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate_carousel-item__col:nth-child(2) {
    width: 60% !important;
  }
  .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate_carousel-item__col:nth-child(3) {
    width: 40% !important;
  }
  .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate_carousel-item__col:nth-child(3) .citrus_petmate__pov--shots img:nth-child(2) {
    left: -10px !important;
  }
  .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate_carousel-item__col .citrus_petmate__pov--cta {
    padding: 10px 0 0 15px;
  }
  .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate_carousel-item__col .citrus_petmate__pov--cta a {
    color: #000000 !important;
    border: none !important;
    min-width: auto;
    margin: 0 15px;
    padding: 0;
    height: initial;
  }
  .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate_carousel-item__col .citrus_petmate__pov--text {
    padding: 0;
  }
  .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate_carousel-item__col .citrus_petmate__pov--text h1, .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate_carousel-item__col .citrus_petmate__pov--text p {
    max-width: 350px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 0;
  }
  .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate_carousel-item__col .citrus_petmate__pov--text h1 {
    font-size: 21px;
    padding-top: 0;
    padding-bottom: 10px;
  }
  .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate_carousel-item__col .citrus_petmate__pov--text p {
    padding-bottom: 0;
    font-size: 14px;
  }
  .citrus_petmate_carousel-inner .citrus_petmate__pov--logo {
    padding: 0px 0 0 10px !important;
    margin: 0 !important;
    max-width: 80% !important;
  }
  .citrus_petmate__category {
    overflow-x: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .citrus_petmate__category::-webkit-scrollbar {
    display: none;
  }
  .citrus_petmate__category--wrapper {
    width: 170%;
    overflow-x: auto;
  }
  .citrus_petmate__category--wrapper .single-category {
    width: 60%;
  }
  .citrus_petmate__options {
    overflow-x: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .citrus_petmate__options::-webkit-scrollbar {
    display: none;
  }
  .citrus_petmate__options--wrapper {
    width: 270%;
    overflow-x: auto;
  }
  .citrus_petmate__options--wrapper .single-options {
    width: 60%;
  }
  .citrus_petmate__two_col--wrapper {
    gap: 40px;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  .citrus_petmate__two_col--wrapper .feature-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .citrus_petmate__two_col--wrapper .feature-img .single-col__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .citrus_petmate__two_col--wrapper .feature-img .single-col__txt {
    padding: 20px 15px;
    width: 100%;
  }
  .citrus_petmate__two_col--wrapper .feature-img .single-col__txt p {
    padding: 20px 0;
  }
  .citrus_petmate__two_col--wrapper .single-col {
    width: 100%;
  }
  .citrus_petmate__two_col--wrapper .single-col__container {
    width: 220%;
  }
  .citrus_petmate__two_col--wrapper .single-col__container--items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 40px;
  }
  .citrus_petmate__two_col--wrapper .single-col__container--items .items_wrapper {
    width: 60%;
  }
  .citrus_petmate__two_col--wrapper .single-col__container--items .items_wrapper__img {
    max-width: 190px;
    margin: 0 auto;
  }
  .citrus_petmate__two_col--wrapper .single-col__container--items .items_wrapper__txt {
    text-align: left;
    max-width: 100%;
  }
  .citrus_petmate__two_col--wrapper .single-col__container--items .items_wrapper__txt p {
    font-size: 14px;
    padding: 20px 0;
  }
  .citrus_petmate__two_col--wrapper .single-col .citrus_petmate_splide .splide__arrow {
    display: none;
  }
}

/* Mobile devices */
@media only screen and (max-width: 320px) {
  .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate_carousel-item__col .citrus_petmate__pov--cta {
    padding: 10px 0 0 10px;
  }
  .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate_carousel-item__col .citrus_petmate__pov--cta a {
    color: #000000 !important;
    border: none !important;
    min-width: auto;
    margin: 0 15px;
    padding: 0;
    height: initial;
  }
  .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate_carousel-item__col .citrus_petmate__pov--text h1 {
    font-size: 18px;
  }
  .citrus_petmate_carousel-inner .citrus_petmate_carousel-item .citrus_petmate_carousel-item__col .citrus_petmate__pov--text p {
    font-size: 12px;
  }
}
/*# sourceMappingURL=responsive.css.map */