@import "variables";
@import "common";

.citrus_petmate__two_col{
    &--wrapper{
        gap: 20px;
        .single-col{
            width: calc(100%/2);
            &__img{
                display: flex;
            }
            &__txt{
                text-align: center;
                padding: 50px 15px;
                background: rgba(0, 119, 192, 0.2);
                h3{
                    font-size: 20px;
                    color: $cta_black;
                }
                p{
                    font-size: 16px;
                    padding: 25px 0;
                    sup{
                        font-size: 10px;
                    }
                }
                .cta-underline{
                    text-align: center;
                    a{

                    }
                }
            }
            &__container{
                gap: 20px;
                &--items{
                    width: 50%;
                    flex-wrap: wrap;
                    gap: 40px;
                    .items_wrapper{
                        &__img{
                            max-width: 190px;
                            margin: 0 auto;
                        }
                        &__txt{
                            text-align: left;
                            p{
                                font-size: 14px;
                                padding: 20px 0;
                            }
                            .cta-underline{
                                a{
                                    color: $cta_blue;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}